<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<h1>新用户注册！</h1>
<form action="" method="post">
    {% csrf_token %}
      <p>
        *用户名：<input type="text" id="id_username" name="username", required="required">  {{rename}}
      </p>
      <p>
         *密&nbsp;码： <input type="password" id="id_password" name="psw", required="required">
    </p>
   <p>
         邮&nbsp;箱：<input type="text" id="id_mail" name="mail">
    </p>
    <p>
          <input type="submit" value="注册">
    </p>
</form>

</body>
</html>